.message-container {
    display: flex;
    flex-direction: column;
}

.main-message {
    width: 100%;
    margin-top: 10px;
    min-height: 100px;
    box-sizing: border-box;
    resize: none;
}

.main-message-container {
    text-align: center;
}

.not-logged-in {
    margin-top: 16px;
    text-align: center;
}

.error-container {
    text-align: center;
    color: red;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.logout-container {
    text-align: right;
    height: 20px;
    margin-bottom: 5px;
}

.title-container {
    text-align: center;
    font-size: 20px;
}

.action-button {
    cursor: pointer;
    color: #4747c3;
}